# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Garbage
UpgradeLog.XML
*.user
*.sln.old
*.tlog
*.unsuccessfulbuild
*.lastbuildstate
_UpgradeReport_Files
*.pdb
*.log
*.filters
*.manifest
*.cache
*.res
*.sbr
*.sdf
*.opensdf
*.suo
